.button {
	border-radius: 12px;
	background-image: url("https://tycho10101.github.io/stripe.png");
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

header {
	background-color: rbga(0, 0, 0, 0);
  height: 55px;
  width: 100%;
  margin: auto;
  top: 0px;
}

html {
  background-image: url("https://tycho10101.github.io/stripe.png");
  width: 100%;
  height: 100%;
}

body {
  margin: auto;
  color: #F3F3F3;
  height: 100%;
  width: 1000px;
  font-family: Arial;
}

.blackground {
  background-color: #242225;
  padding: .6rem;
  height: 100%;
  border-radius: 12px;
  border: solid #39363b 5px;
}

@media (max-width: 1000px) {
  .blackground {
    background-color: #242225;
    padding: .6rem;
    height: 100%;
    border-radius: 0px;
    border: none;
  }
  body {
    margin: auto;
    color: #F3F3F3;
    height: 100%;
    width: 100%;
    font-family: Arial;
  }
}

.header_img {
  height: 50px;
}

.heading {
  text-align: center;
}

.header_button {
  background-color: rgba(36, 34, 37, 0);
  height:55px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 10px;
  cursor: pointer;
}

.header_multi_button {
  text-align: right;
  display: block;
}
