.button {
	border-radius: 12px;
	background: rgb(163,0,0);
	background: linear-gradient(180deg, rgba(163,0,0,1) 0%, rgba(255,127,127,1) 100%);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

header {
  background: rgb(163,0,0);
	background: linear-gradient(180deg, rgba(163,0,0,1) 0%, rgba(255,127,127,1) 100%);
  height: 55px;
  width: 100%;
  margin: 0;
}

html, body {
  background-color: #ffffff;
  color: #333333
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

@media (prefers-color-scheme: dark) {
    html, body {
    background-color: #242225;
    color: #F3F3F3;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.header_img {
  height: 50px;
  length: 50px;
}

.heading {
  text-align: center;
}

.header_button {
  height:55px;
	background: rgb(163,0,0);
	background: linear-gradient(180deg, rgba(163,0,0,1) 0%, rgba(255,127,127,1) 100%);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 10px;
  cursor: pointer;
}

.header_multi_button {
  text-align: right;
  display: block;
}