.button {
	border-radius: 0px;
	background: rgb(62, 58, 63);
  border: none;
  color: white;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  width: 110px;
  cursor: pointer;
}

.select_button {
	background: rgb(36, 34, 37);
  border: none;
  color: white;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  width: 110px;
  cursor: pointer;
}

header {
	background-image: url("https://tycho10101.github.io/stripe.png");
  height: 55px;
  width: 100%;
  margin: 0;
  position: fixed;
}

html, body {
  background-color: #ffffff;
  color: #333333
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  height: 100%;
}


    html, body {
    background-color: #242225;
    color: #F3F3F3;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

.header_img {
  height: 50px;
  length: 50px;
}

.heading {
  text-align: center;
  font-size: 60px;
}

.header_button {
  height:55px;
	background: rgba(163,0,0,0);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 10px;
  cursor: pointer;
}

.header_multi_button {
  text-align: right;
  display: block;
}

.text {
  float: left;
  width: calc(100% - 150px);
  padding: 20px;
  font-size: 16px;
  margin-left: 110px;
}

.small_heading {
  font-size: 40px;
}

.download {
  font-size: 16px;
}

.side_buttons {
  float: left;
  width: 110px;
  height: calc(100vh - 55px);
  background-color: rgb(62, 58, 63);
  position: fixed;
  top: 55px;
}
